@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Google/Content/googlestyles.css");    
}
<div class="google-login-block">
    <div class="title">
        @T("Plugins.ExternalAuth.Google.Login")
    </div>
    <div class="buttons">
        <a href="@Url.RouteUrl("Plugin.ExternalAuth.Google.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="google-btn"></a>
    </div>
</div>
