@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Google/Content/googlestyles.css");    
}
<div class="external-login-block">

        <a href="@Url.RouteUrl("Plugin.ExternalAuth.Google.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="btn btn-block btn-social btn-google">
            <i class="fa fa-google-plus"></i>@T("Plugins.ExternalAuth.Google.Login")
        </a>
</div>
