@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Facebook/Content/facebookstyles.css");    
}
<div class="external-login-block">
    <a href="@Url.RouteUrl("Plugin.ExternalAuth.Facebook.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="btn btn-block btn-social btn-facebook">
        <i class="fa fa-facebook"></i>@T("Plugins.ExternalAuth.Facebook.Login")
    </a>
</div>