@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.WeiXin/Content/weixinstyles.css");
}
<div class="external-login-block">
    <a href="@Url.RouteUrl("Plugin.ExternalAuth.WeiXin.Login", new {ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"]})" class="btn btn-block btn-social btn-weixin">
        <i class="fa fa-weixin"></i>@T("Plugins.ExternalAuth.WeiXin.Login")
    </a>
</div>
