@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Facebook/Content/weixinstyles.css");
}
<div class="external-login-block weixin-login-block col-md-4">
    <div class="title">
        @T("Plugins.ExternalAuth.WeiXin.Login")
    </div>
    <div class="btn btn-block btn-social btn-weixin">
        <a href="@Url.RouteUrl("Plugin.ExternalAuth.WeiXin.Login", new {ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"]})" class="weixin-btn">微信授权登录</a>
    </div>
</div>
