<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnectionString" connectionString="Data Source=samzhousql.database.windows.net;Initial Catalog=Nop2;Integrated Security=False;Persist Security Info=False;User ID=sam;Password=jukfrg!1" />-->
    <add name="DefaultConnectionString" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=True;Persist Security Info=False;" />
  </connectionStrings>
</configuration>