@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";


    var pageHeadBuilder = EngineContext.Current.Resolve<IPageHeadBuilder>();
    pageHeadBuilder.AddTitleParts(T("PageTitle.Checkout").Text);
    Html.AddCssFileParts("~/Plugins/Payments.Alipay/Content/css/paymentalipay.css");
}
@model Nop.Plugin.Payments.AliPay.Models.AlipayPaymentErrorModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI


<div class="page checkout-page order-completed-page">
    <div class="page-title">
        <h1>@T("Plugins.Payments.Alipay.YouAreUsingAlipay")</h1>
    </div>

    <div class="page-body checkout-data">
        <div class="wepay-logo no-margin"></div>
        <div class="section order-completed">
            <div class="title">
                <strong>@Model.Message</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong></strong>
                </div>
                <div class="details-link">
                    
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')"/>
            </div>
        </div>
    </div>
</div>
